<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sync with GridLAB-D"
            visible="true"
            id="testVis.actionSet">
         <menu
               label="Sync"
               id="Menu">
            <separator
                  name="Group">
            </separator>
         </menu>
         <action
               class="visSync.actions.Sync"
               icon="icons/sample.gif"
               id="testvis.actions.Sync"
               label="Sync with GridLAB-D"
               menubarPath="Menu/Group"
               toolbarPath="Group"
               tooltip="Generate and update diagram">
         </action>
      </actionSet>
   </extension>

</plugin>
