<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Graph"
            visible="true"
            id="ie.tcd.gmf.visGrid.graph.actionSet">
         <menu
               label="Graph"
               id="GraphMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="Generategraph"
               icon="icons/sample.gif"
               class="ie.tcd.gmf.visgrid.graph.actions.Generategraph"
               tooltip="Hello, Eclipse world"
               menubarPath="GraphMenu/GraphGroup"
               toolbarPath="GraphGroup"
               id="ie.tcd.gmf.visgrid.graph.actions.Generategraph">
         </action>
      </actionSet>
   </extension>

</plugin>
