<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Initiate Grapher"
            visible="true"
            id="ie.tcd.gmf.visGrid.graph.actionSet">
         <menu
               label="Grapher"
               id="Menu2">
            <separator
                  name="Group2">
            </separator>
         </menu>
         <action
               class="ie.tcd.gmf.visgrid.graph.actions.LiveGraphCreator"
               icon="icons/sample.gif"
               id="ie.tcd.gmf.visgrid.graph.actions.LiveGraphCreator"
               label="Load Grapher"
               menubarPath="Menu2/Group2"
               style="push"
               toolbarPath="Group2"
               tooltip="Initiate Graphing tool">
         </action>
      </actionSet>
   </extension>

</plugin>
