<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="visGrid.presentation.VisGridModelWizardID"
            name="%_UI_VisGridModelWizard_label"
            class="visGrid.presentation.VisGridModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VisGridModelFile.gif">
         <description>%_UI_VisGridModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="visGrid.presentation.VisGridEditorID"
            name="%_UI_VisGridEditor_label"
            icon="icons/full/obj16/VisGridModelFile.gif"
            extensions="visgrid"
            class="visGrid.presentation.VisGridEditor"
            contributorClass="visGrid.presentation.VisGridActionBarContributor">
      </editor>
   </extension>

</plugin>
