<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="testLink.presentation.TestLinkModelWizardID"
            name="%_UI_TestLinkModelWizard_label"
            class="testLink.presentation.TestLinkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TestLinkModelFile.gif">
         <description>%_UI_TestLinkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="testLink.presentation.TestLinkEditorID"
            name="%_UI_TestLinkEditor_label"
            icon="icons/full/obj16/TestLinkModelFile.gif"
            extensions="testlink"
            class="testLink.presentation.TestLinkEditor"
            contributorClass="testLink.presentation.TestLinkActionBarContributor">
      </editor>
   </extension>

</plugin>
